In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("Datasheet Buku Induk SDN Johar Baru 07 Pagi_preprocessed.xlsx", sheet_name="Sheet1")

In [ ]:
# Test the normalization function like in JavaScript
def normalize_key(k):
    import re
    k = str(k).strip()
    k = re.sub(r'\s+', '_', k)
    k = re.sub(r'[^\w_]', '_', k)
    k = re.sub(r'__+', '_', k)
    k = re.sub(r'^_+|_+$', '', k)
    return k.lower()

# Test normalization on actual column names
sample_columns = ['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']
print("Column normalization test:")
for col in sample_columns:
    normalized = normalize_key(col)
    print(f"{col} -> {normalized}")

Index(['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan',
       'Jenis_Kelamin', 'Tempat_Lahir', 'Tanggal_Lahir', 'Agama',
       'Kewarganegaraan', 'Anak_Ke', 'Jumlah_Saudara_Kandung',
       'Jumlah_Saudara_Tiri', 'Jumlah_Saudara_Angkat',
       'Keadaan_Jasmani_Bahasa_Sehari-hari', 'Keadaan_Jasmani_Berat_Badan',
       'Keadaan_Jasmani_Tinggi_Badan', 'Keadaan_Jasmani_Golongan_Darah',
       'Penyakit_Yang_Pernah_Diderita', 'Imuninasi_Yang_Pernah_Di_Terima',
       'Alamat_Rumah_Jalan', 'Alamat_Rumah_RT', 'Alamat_Rumah_RW',
       'Alamat_Rumah_Kelurahan', 'Alamat_Rumah_Kecamatan',
       'Alamat_Rumah_Kabupaten', 'Alamat_Rumah_Provinsi',
       'Alamat_Rumah_Kode_POS', 'Bertempat_Tinggal_Pada',
       'Jarak_Tempat_Tinggal', 'Ayah_Kandung_Nama', 'Ayah_Kandung_Tmp._Lahir',
       'Ayah_Kandung_Tgl._Lahir', 'Ayah_Kandung_Pendidikan_Tertinggi',
       'Ayah_Kandung_Pekerjaan', 'Ayah_Kandung_Alamat_Rumah',
       'Ayah_Kandung_No_Telepon', 'Ayah_Kandung_Kewarganegaraan',
       'Ibu_Kandung_Nama', 'Ibu_Kandung_Tmp._Lahir', 'Ibu_Kandung_Tgl._Lahir',
       'Ibu_Kandung_Pendidikan_Tertinggi', 'Ibu_Kandung_Pekerjaan',
       'Ibu_Kandung_Alamat_Rumah', 'Ibu_Kandung_No_Telepon',
       'Ibu_Kandung_Kewarganegaraan', 'Wali_Murid_Nama',
       'Wali_Murid_Tmp._Lahir', 'Wali_Murid_Tgl._Lahir',
       'Wali_Murid_Pendidikan_Tertinggi', 'Wali_Murid_Pekerjaan',
       'Wali_Murid_Alamat_Rumah', 'Wali_Murid_No_Telepon',
       'Wali_Murid_Kewarganegaraan', 'Wali_Murid_Hubungan_Keluarga',
       'Masuk_Menjadi_Murid_Baru_Asal_Murid',
       'Masuk_Menjadi_Murid_Baru_Nama_TK',
       'Masuk_Menjadi_Murid_Baru_Alamat_Sekolah',
       'Masuk_Menjadi_Murid_Baru_Tgl._STTB',
       'Masuk_Menjadi_Murid_Baru_Nomor_STTB',
       'Pindahan_dari_sekolah_lain_Nama_Sekolah_Asal',
       'Pindahan_dari_sekolah_lain_Dari_Kelas',
       'Pindahan_dari_sekolah_lain_Diterima_tanggal',
       'Pindahan_dari_sekolah_lain_Di_Kelas', 'Jenis_Bea_Siswa',
       'Tamat_belajar_Tahun', 'Tamat_belajar_Melanjutkan_ke_sekolah',
       'Pindah_Sekolah_Dari_kelas', 'Pindah_Sekolah_Ke_Sekolah',
       'Pindah_Sekolah_Kelas', 'Pindah_Sekolah_Tanggal',
       'Keluar_Sekolah_Tanggal', 'Keluar_Sekolah_Alasan'],
      dtype='object')

In [1]:
# Test the normalization function like in JavaScript
def normalize_key(k):
    import re
    k = str(k).strip()
    k = re.sub(r'\s+', '_', k)
    k = re.sub(r'[^\w_]', '_', k)
    k = re.sub(r'__+', '_', k)
    k = re.sub(r'^_+|_+$', '', k)
    return k.lower()

# Test normalization on actual column names
sample_columns = ['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']
print("Column normalization test:")
for col in sample_columns:
    normalized = normalize_key(col)
    print(f"{col} -> {normalized}")
    
print("\nChecking key mappings:")
print("no_induk ->", normalize_key('No_Induk'))
print("nisn ->", normalize_key('NISN'))
print("nama_lengkap ->", normalize_key('Nama_Lengkap'))
print("nama_panggilan ->", normalize_key('Nama_Panggilan'))

Column normalization test:
No -> no
No_Induk -> no_induk
NISN -> nisn
Nama_Lengkap -> nama_lengkap
Nama_Panggilan -> nama_panggilan

Checking key mappings:
no_induk -> no_induk
nisn -> nisn
nama_lengkap -> nama_lengkap
nama_panggilan -> nama_panggilan

In [5]:
# Check the actual data and see if there are student names
print("DataFrame shape:", df.shape)
print("\nFirst few rows of key columns:")
key_cols = ['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']
print(df[key_cols].head())

print("\nCheck for empty names:")
print("Empty Nama_Lengkap:", df['Nama_Lengkap'].isna().sum())
print("Empty Nama_Panggilan:", df['Nama_Panggilan'].isna().sum())
print("Both names empty:", ((df['Nama_Lengkap'].isna()) & (df['Nama_Panggilan'].isna())).sum())

print("\nSample names:")
for col in ['Nama_Lengkap', 'Nama_Panggilan']:
    valid_names = df[col].dropna()
    if len(valid_names) > 0:
        print(f"{col}: {valid_names.head(3).tolist()}")

DataFrame shape: (26, 73)

First few rows of key columns:
   No  No_Induk          NISN  Nama_Lengkap Nama_Panggilan
0   1       2.0  3.000000e+00             4              5
1   1    4322.0  1.234568e+09  nama siswa 1        siswa 1
2   2    4334.0           NaN  nama siswa 2        siswa 2
3   3    4349.0           NaN  nama siswa 3        siswa 3
4   4    4350.0           NaN  nama siswa 4        siswa 4

Check for empty names:
Empty Nama_Lengkap: 11
Empty Nama_Panggilan: 11
Both names empty: 11

Sample names:
Nama_Lengkap: ['4', 'nama siswa 1', 'nama siswa 2']
Nama_Panggilan: ['5', 'siswa 1', 'siswa 2']

In [6]:
# Let's check what data would be read from row 3 (index 2) as the JavaScript does
print("JavaScript reads from row 3 (index 2), which means skipping first 2 rows:")
print("Data from row 3 onwards:")
js_data = df.iloc[2:]  # Skip first 2 rows like JavaScript (range: 2)
print("Shape after skipping:", js_data.shape)
print("Sample data:")
print(js_data[['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']].head())

print("\nFilter out rows where both names are empty:")
valid_students = js_data[~((js_data['Nama_Lengkap'].isna()) & (js_data['Nama_Panggilan'].isna()))]
print("Valid students count:", len(valid_students))
print("Valid students sample:")
print(valid_students[['Nama_Lengkap', 'Nama_Panggilan']].head())

JavaScript reads from row 3 (index 2), which means skipping first 2 rows:
Data from row 3 onwards:
Shape after skipping: (24, 73)
Sample data:
   No  No_Induk  NISN  Nama_Lengkap Nama_Panggilan
2   2    4334.0   NaN  nama siswa 2        siswa 2
3   3    4349.0   NaN  nama siswa 3        siswa 3
4   4    4350.0   NaN  nama siswa 4        siswa 4
5   5    4351.0   NaN  nama siswa 5        siswa 5
6   6    4352.0   NaN  nama siswa 6        siswa 6

Filter out rows where both names are empty:
Valid students count: 13
Valid students sample:
   Nama_Lengkap Nama_Panggilan
2  nama siswa 2        siswa 2
3  nama siswa 3        siswa 3
4  nama siswa 4        siswa 4
5  nama siswa 5        siswa 5
6  nama siswa 6        siswa 6

In [7]:
# Simulate the JavaScript processing exactly
def simulate_js_processing():
    # Simulate reading from row 3 (range: 2 in pandas means skip first 2 rows)
    raw_data = df.iloc[2:].to_dict('records')
    
    def normalize_key(k):
        import re
        k = str(k).strip()
        k = re.sub(r'\s+', '_', k)
        k = re.sub(r'[^\w_]', '_', k)
        k = re.sub(r'__+', '_', k)
        k = re.sub(r'^_+|_+$', '', k)
        return k.lower()
    
    processed_data = []
    for row in raw_data:
        obj = {}
        # Normalize all keys
        for k, v in row.items():
            nk = normalize_key(k)
            obj[nk] = v if pd.notna(v) else ''
        
        # Apply convenience fields mapping
        obj['foto'] = obj.get('foto', '') or 'https://via.placeholder.com/120'
        obj['nis'] = obj.get('no_induk', '') or obj.get('nisn', '') or obj.get('nis', '') or obj.get('no', '') or ''
        obj['nama'] = obj.get('nama_lengkap', '') or obj.get('nama_panggilan', '') or obj.get('nama', '') or ''
        
        # Create TTL if not exists
        if not obj.get('ttl'):
            tempat = obj.get('tempat_lahir', '')
            tanggal = obj.get('tanggal_lahir', '')
            if tempat or tanggal:
                obj['ttl'] = f"{tempat}{', ' + str(tanggal) if tanggal else ''}".replace('^, ', '')
            else:
                obj['ttl'] = ''
        
        obj['alamat'] = obj.get('alamat_rumah_jalan', '') or obj.get('alamat_rumah', '') or obj.get('alamat', '') or ''
        obj['kelas'] = obj.get('kelas', '') or ''
        
        processed_data.append(obj)
    
    # Filter records with names (like JavaScript does)
    valid_students = [s for s in processed_data if s['nama']]
    
    return valid_students

students = simulate_js_processing()
print(f"Processed students count: {len(students)}")
print("\nSample students:")
for i, student in enumerate(students[:3]):
    print(f"Student {i+1}:")
    print(f"  NIS: {student['nis']}")
    print(f"  Nama: {student['nama']}")
    print(f"  TTL: {student['ttl']}")
    print(f"  Alamat: {student['alamat']}")
    print()

# Test search functionality
def test_search(keyword):
    keyword = keyword.lower()
    results = [s for s in students if 
               (s['nama'] and keyword in s['nama'].lower()) or 
               (s['nis'] and keyword in str(s['nis']).lower())]
    return results

print("Testing search for 'siswa':")
search_results = test_search('siswa')
print(f"Found {len(search_results)} results")
for result in search_results[:3]:
    print(f"- {result['nama']} (NIS: {result['nis']})")

Processed students count: 13

Sample students:
Student 1:
  NIS: 4334.0
  Nama: nama siswa 2
  TTL: Purworejo, 2010-10-29 00:00:00
  Alamat:

Student 2:
  NIS: 4349.0
  Nama: nama siswa 3
  TTL: Purworejo, 2011-11-04 00:00:00
  Alamat:

Student 3:
  NIS: 4350.0
  Nama: nama siswa 4
  TTL: Purworejo, 2011-11-01 00:00:00
  Alamat:

Testing search for 'siswa':
Found 13 results
- nama siswa 2 (NIS: 4334.0)
- nama siswa 3 (NIS: 4349.0)
- nama siswa 4 (NIS: 4350.0)

In [8]:
# Let's specifically investigate "nama siswa 1"
print("Looking for 'nama siswa 1' in the data...")

# Check the full dataframe
print("All rows containing 'nama siswa 1':")
mask = df['Nama_Lengkap'].str.contains('nama siswa 1', na=False, case=False)
siswa1_rows = df[mask]
print(f"Found {len(siswa1_rows)} rows")
print(siswa1_rows[['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']])

print("\nChecking what row index 'nama siswa 1' is at:")
for idx, row in df.iterrows():
    if pd.notna(row['Nama_Lengkap']) and 'nama siswa 1' in str(row['Nama_Lengkap']).lower():
        print(f"Found at row index {idx} (0-based)")
        print(f"Row data: {row[['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']].to_dict()}")

# Check what the JavaScript would see (skipping first 2 rows)        
print(f"\nJavaScript reads from row 3 onwards (skipping index 0 and 1)")
print(f"So 'nama siswa 1' at index 1 would be SKIPPED!")

# Show what's actually processed
processed_students = [s for s in students if 'nama siswa 1' in s['nama'].lower()]
print(f"\nProcessed students with 'nama siswa 1': {len(processed_students)}")
for s in processed_students:
    print(f"- {s['nama']} (NIS: {s['nis']})")

Looking for 'nama siswa 1' in the data...
All rows containing 'nama siswa 1':
Found 6 rows
    No  No_Induk          NISN   Nama_Lengkap Nama_Panggilan
1    1    4322.0  1.234568e+09   nama siswa 1        siswa 1
10  10    4356.0           NaN  nama siswa 10       siswa 10
11  11    4357.0           NaN  nama siswa 11       siswa 11
12  12    4358.0           NaN  nama siswa 12       siswa 12
13  13    4359.0           NaN  nama siswa 13       siswa 13
14  14    4360.0           NaN  nama siswa 14       siswa 14

Checking what row index 'nama siswa 1' is at:
Found at row index 1 (0-based)
Row data: {'No': 1, 'No_Induk': 4322.0, 'NISN': 1234567890.0, 'Nama_Lengkap': 'nama siswa 1', 'Nama_Panggilan': 'siswa 1'}
Found at row index 10 (0-based)
Row data: {'No': 10, 'No_Induk': 4356.0, 'NISN': nan, 'Nama_Lengkap': 'nama siswa 10', 'Nama_Panggilan': 'siswa 10'}
Found at row index 11 (0-based)
Row data: {'No': 11, 'No_Induk': 4357.0, 'NISN': nan, 'Nama_Lengkap': 'nama siswa 11', 'Nama_Panggilan': 'siswa 11'}
Found at row index 12 (0-based)
Row data: {'No': 12, 'No_Induk': 4358.0, 'NISN': nan, 'Nama_Lengkap': 'nama siswa 12', 'Nama_Panggilan': 'siswa 12'}
Found at row index 13 (0-based)
Row data: {'No': 13, 'No_Induk': 4359.0, 'NISN': nan, 'Nama_Lengkap': 'nama siswa 13', 'Nama_Panggilan': 'siswa 13'}
Found at row index 14 (0-based)
Row data: {'No': 14, 'No_Induk': 4360.0, 'NISN': nan, 'Nama_Lengkap': 'nama siswa 14', 'Nama_Panggilan': 'siswa 14'}

JavaScript reads from row 3 onwards (skipping index 0 and 1)
So 'nama siswa 1' at index 1 would be SKIPPED!

Processed students with 'nama siswa 1': 5
- nama siswa 10 (NIS: 4356.0)
- nama siswa 11 (NIS: 4357.0)
- nama siswa 12 (NIS: 4358.0)
- nama siswa 13 (NIS: 4359.0)
- nama siswa 14 (NIS: 4360.0)

In [9]:
# Let's examine the first few rows to understand why JavaScript skips them
print("First 5 rows of the Excel file:")
print(df.head()[['No', 'No_Induk', 'NISN', 'Nama_Lengkap', 'Nama_Panggilan']])

print("\nRow analysis:")
for i in range(min(5, len(df))):
    row = df.iloc[i]
    print(f"Row {i}: No={row['No']}, Nama_Lengkap='{row['Nama_Lengkap']}', Nama_Panggilan='{row['Nama_Panggilan']}'")
    
print("\nThe issue: JavaScript skips rows 0 and 1, but row 1 contains 'nama siswa 1'!")
print("We need to change the JavaScript to read from row 1 instead of row 3")

First 5 rows of the Excel file:
   No  No_Induk          NISN  Nama_Lengkap Nama_Panggilan
0   1       2.0  3.000000e+00             4              5
1   1    4322.0  1.234568e+09  nama siswa 1        siswa 1
2   2    4334.0           NaN  nama siswa 2        siswa 2
3   3    4349.0           NaN  nama siswa 3        siswa 3
4   4    4350.0           NaN  nama siswa 4        siswa 4

Row analysis:
Row 0: No=1, Nama_Lengkap='4', Nama_Panggilan='5'
Row 1: No=1, Nama_Lengkap='nama siswa 1', Nama_Panggilan='siswa 1'
Row 2: No=2, Nama_Lengkap='nama siswa 2', Nama_Panggilan='siswa 2'
Row 3: No=3, Nama_Lengkap='nama siswa 3', Nama_Panggilan='siswa 3'
Row 4: No=4, Nama_Lengkap='nama siswa 4', Nama_Panggilan='siswa 4'

The issue: JavaScript skips rows 0 and 1, but row 1 contains 'nama siswa 1'!
We need to change the JavaScript to read from row 1 instead of row 3

In [10]:
# Test the corrected JavaScript processing (reading from row 1 instead of row 2)
def simulate_corrected_js_processing():
    # Simulate reading from row 2 (range: 1 in pandas means skip first 1 row)
    raw_data = df.iloc[1:].to_dict('records')  # Skip only the first row (index 0)
    
    def normalize_key(k):
        import re
        k = str(k).strip()
        k = re.sub(r'\s+', '_', k)
        k = re.sub(r'[^\w_]', '_', k)
        k = re.sub(r'__+', '_', k)
        k = re.sub(r'^_+|_+$', '', k)
        return k.lower()
    
    processed_data = []
    for row in raw_data:
        obj = {}
        # Normalize all keys
        for k, v in row.items():
            nk = normalize_key(k)
            obj[nk] = v if pd.notna(v) else ''
        
        # Apply convenience fields mapping
        obj['foto'] = obj.get('foto', '') or 'https://via.placeholder.com/120'
        obj['nis'] = obj.get('no_induk', '') or obj.get('nisn', '') or obj.get('nis', '') or obj.get('no', '') or ''
        obj['nama'] = obj.get('nama_lengkap', '') or obj.get('nama_panggilan', '') or obj.get('nama', '') or ''
        
        # Create TTL if not exists
        if not obj.get('ttl'):
            tempat = obj.get('tempat_lahir', '')
            tanggal = obj.get('tanggal_lahir', '')
            if tempat or tanggal:
                obj['ttl'] = f"{tempat}{', ' + str(tanggal) if tanggal else ''}".replace('^, ', '')
            else:
                obj['ttl'] = ''
        
        obj['alamat'] = obj.get('alamat_rumah_jalan', '') or obj.get('alamat_rumah', '') or obj.get('alamat', '') or ''
        obj['kelas'] = obj.get('kelas', '') or ''
        
        processed_data.append(obj)
    
    # Filter records with names (like JavaScript does)
    valid_students = [s for s in processed_data if s['nama']]
    
    return valid_students

corrected_students = simulate_corrected_js_processing()
print(f"Corrected processing - Total students: {len(corrected_students)}")

# Test search for "nama siswa 1"
def test_search_corrected(keyword):
    keyword = keyword.lower()
    results = [s for s in corrected_students if 
               (s['nama'] and keyword in s['nama'].lower()) or 
               (s['nis'] and keyword in str(s['nis']).lower())]
    return results

print("\nTesting search for 'nama siswa 1':")
search_results = test_search_corrected('nama siswa 1')
print(f"Found {len(search_results)} results")
for result in search_results:
    print(f"- {result['nama']} (NIS: {result['nis']})")

print("\nFirst 5 students in corrected processing:")
for i, student in enumerate(corrected_students[:5]):
    print(f"{i+1}. {student['nama']} (NIS: {student['nis']})")

Corrected processing - Total students: 14

Testing search for 'nama siswa 1':
Found 6 results
- nama siswa 1 (NIS: 4322.0)
- nama siswa 10 (NIS: 4356.0)
- nama siswa 11 (NIS: 4357.0)
- nama siswa 12 (NIS: 4358.0)
- nama siswa 13 (NIS: 4359.0)
- nama siswa 14 (NIS: 4360.0)

First 5 students in corrected processing:
1. nama siswa 1 (NIS: 4322.0)
2. nama siswa 2 (NIS: 4334.0)
3. nama siswa 3 (NIS: 4349.0)
4. nama siswa 4 (NIS: 4350.0)
5. nama siswa 5 (NIS: 4351.0)

In [7]:
df.column()

AttributeError: 'DataFrame' object has no attribute 'column'